@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import "variables";

body {
  font-family: $oswald
}

.nav-h1 {
  font-size: 3em;
  text-align: center;
  color: $blizzard-blue;
  margin: 10px;
  overflow-y: scroll;
  .span-receptacles {
    font-weight: $semi-bold;
    color: $prussian-blue;
  }
}

.containers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    height: 890px;
    width: 900px;
    position: relative;
    overflow-x: hidden; 
  }
}

.door-left, .door-right {
  @include garage-door;
}

.door-left {
  background-image: url('../leftside.jpg');
  background-repeat: no-repeat;
  left: 0%;
}

.door-right {
  background-image: url('../rightside.jpg');
  left: 50%;
}

.container:hover .door-left {
  left: -50%; 
}

.container:hover .door-right {
  left: 100%; 
}

.yung-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    overflow: scroll;
    .select-cleanliness, input, #submit {
      @include input-styling;
    }
  }
}

.carport-stats {
  label {
    padding: 10px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  align-items: center;
  .item {
    margin: 10px;
    color: $prussian-blue;
  }
  .item-attr {
    font-weight: $light;
    color: $picton-blue;
  }
  .appended-div {
    @include appended-div;
    .rendered-inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item-delete, 
      .item-cleanliness {
        @include appended-inputs;
      }
    }
  }
}

