$badass                : #bada55;
$ultra-chic-periwinkle : #ccccff;
$prussian-blue         : #004264;
$lochmara              : #386FA4;
$picton-blue           : #59A5D8;
$light-sky-blue        : #84D2F6;
$blizzard-blue         : #91E5F6;

$oswald: 'Oswald', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
