@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600");
body {
  font-family: "Oswald", sans-serif; }

.nav-h1 {
  font-size: 3em;
  text-align: center;
  color: #91E5F6;
  margin: 10px;
  overflow-y: scroll; }
  .nav-h1 .span-receptacles {
    font-weight: 600;
    color: #004264; }

.containers-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .containers-container .container {
    display: flex;
    justify-content: center;
    height: 890px;
    width: 900px;
    position: relative;
    overflow-x: hidden; }

.door-left, .door-right {
  display: none;
  background-image: url("../yung-garage.jpg");
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0%;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5; }

.door-left {
  background-image: url("../leftside.jpg");
  background-repeat: no-repeat;
  left: 0%; }

.door-right {
  background-image: url("../rightside.jpg");
  left: 50%; }

.container:hover .door-left {
  left: -50%; }

.container:hover .door-right {
  left: 100%; }

.yung-content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .yung-content .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    overflow: scroll; }
    .yung-content .nav .select-cleanliness, .yung-content .nav input, .yung-content .nav #submit {
      margin: 20px;
      text-align: center;
      border: 1px solid #111;
      background: white;
      width: 150px;
      padding: 5px 35px 5px 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      height: 34px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../favicon.ico") 96%/15% no-repeat white; }

.carport-stats label {
  padding: 10px; }

.items {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  align-items: center; }
  .items .item {
    margin: 10px;
    color: #004264; }
  .items .item-attr {
    font-weight: 300;
    color: #59A5D8; }
  .items .appended-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    border: 1px solid #386FA4;
    margin: 10px; }
    .items .appended-div .rendered-inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .items .appended-div .rendered-inputs .item-delete,
      .items .appended-div .rendered-inputs .item-cleanliness {
        margin: 10px;
        text-align: left;
        border: 1px solid #111;
        background: white;
        width: 120px;
        padding: 5px 35px 5px 5px;
        font-size: 12px;
        border: 1px solid #ccc;
        height: 34px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("../favicon.ico") 96%/15% no-repeat white; }
